default:
    suites:
        default:
            paths: [ '%paths.base%/tests/features' ]
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:browser:
                    timeout: 1
                - behatch:context:debug:
                    screenshotDir: "."
                - behatch:context:json:
                    evaluationMode: javascript
                - behatch:context:rest
                - behatch:context:system:
                    root: "."
                - behatch:context:table
                - behatch:context:xml
    extensions:
        Robertfausk\Behat\PantherExtension: ~
        Behat\MinkExtension:
            base_url: 'http://localhost:8080'
            files_path: '%paths.base%/tests/fixtures/files'
            goutte: ~
            sessions:
                default:
                    goutte: ~
                symfony2:
                    panther:
                        options:
                            browser: 'chrome'
                            webServerDir: '%paths.base%/tests/fixtures/www'
                            port: 8081
                        manager_options:
                            chromedriver_arguments:
                                - '--headless'
                                - '--disable-gpu'
                                - '--no-sandbox'
                            capabilities:
#                                "goog:chromeOptions":
#                                    w3c: false
                                chromeOptions:
                                    w3c: false
        Behatch\Extension: ~

symfony2:
    extensions:
        Behat\MinkExtension:
            default_session: symfony2
